body {
  background-image: url(https://image.freepik.com/foto-gratis/lugar-trabajo-telefono-inteligente-computadora-portatil-mesa-negra-fondo-copyspace-vista-superior_144627-24860.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0f0f0f;
}

.icon {
  background: #f51371;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  padding: 15px !important;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
}

.padd-top-5 {
  padding-top: 5%;
}

.padd-top-10 {
  padding-top: 10%;
}

.padd-bot-10 {
  padding-bottom: 10%;
}

.padd-bot-5 {
  padding-bottom: 5%;
}

.card {
  border-radius: 1rem !important;
}
